.qRCode_warp{
  width: 100%;
  height: 100%;
  text-align: center;
}
.qRCode_bg_img{
  width: 400px;
  height: 450px;
  padding: 60px 0;
  }
.qRCode_warp .click_item {
  font-size: 36px;
    width: 300px;
    height: 100px;
    line-height:100px;
    text-align: center;
    color: #FFF;
    border-radius: 20px;
    background: #7aa9f5;
    margin: 34px auto;
  }
    .hover_sty_item{
    background: #129fab !important;
    }
.qRCode_warp  .failed_msg{
      font-size: 60px;
      width: 100%;
      text-align: center;
      color: rgb(226, 96, 96);
      margin-top: 100rpx;
}