$themePrimaryColor = #00D78F
$themeSecondColor = #00C579
$themeMainTextColor = #333333
$themeLightTextColor = #ffffff
$themeSecondTextColor = #707070
$errorColor = #ed4014;
$backgroundColor = #F3F3F3
$borderColor = #DDDDDD
$lightGray = #d3d3d3
$gray = #808080
$darkGray = #a9a9a9

$fontSize = 32px

