.root{
  width: 100%;
  height 100vh
  background-color white
  text-align center
  display: flex
  align-items:center
}
.empty-hint{
  display inline-block
  width: 70%
  margin 0 auto
  color: #3F8EE5
  font-size 34px
}
