.tab-bar{
    width: 750px;
	height: 98px;
	background-color: #ffffff;
    position: fixed;
    left :0;
    bottom: 0; 
    display: flex; 
    box-shadow: 6px 0px 15px 1px rgba(154, 153, 153, 0.2);  
}
.tab-bar-home,
.tab-bar-mine{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;  
}
.currntStyle{ 
	color: #7fc6e7;
}
.tab-mine-container,
.tab-home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px !important;
    height:100%;
}
.tab-home-box,
.tab-mine-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: SourceHanSansCN-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #515151;
}
.tab-up-box{
    width: 99px;
	height: 99px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    bottom: 30px;
}
.up-img{
    width: 100%;
	height: 100%;
}
.up-text{
    position: absolute;
    left:50%;
    transform: translateX(-50%)
    bottom: 14px;
    font-family: SourceHanSansCN-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}