.root {
  margin: 0
  padding: 0
  width: 100%;
  height: 100%
  background-color white
  display flex;
  flex-direction column;
  overflow: scroll
}

.container {
  width: 90%
  margin 0 auto
  padding-bottom 20px;
}

.title {
  font-size 60px
  margin-bottom 18px;
  padding-left 16px
  color #333
}

.audit-state {
  font-size 36px;
  color: #F88144
  margin-left 34%
}

.item {
  display flex;
  height: 108px;
  line-height: 108px;
  flex-flow row nowrap;
  justify-content flex-start
  align-items: center
  border-bottom 1px solid #eee
}

.item-remark {
  display flex;
  min-height 108px
  flex-flow row nowrap;
  justify-content flex-start
  align-items: center
  border-bottom 1px solid #eee
}

.title-color {
  color #AAB2B7
}

.item-text-content {
  flex 1
  display: inline-block
  word-break break-all
  border-right: 1px solid white
}

.time-color {
  color: #3F8EE5
}

.audit-chart {
  color white
  text-align center
  background-color #3F8EE5
}

.audit-chart-user {
  flex 1
  display: inline-block
  color white
  text-align center
  background-color #3F8EE5
  display: flex
}

.audit-chart-disabled {
  color white
  text-align center
  background-color #999
}

.bottom {
  display flex;
  min-height: 158px;
  justify-content center
  flex-flow column nowrap;
  border-bottom 1px solid #eee
}

.btn {
  flex: 1
  background-color #3F8EE5
  margin: 54px 4px 0
  font-size 40px;
  color: white
}

.btn-reject {
  background-color #F88144
}

.btn-container {
  display: flex
  flex-direction row
}
