.my{
    width: 750px;
    height :100%;
    background: #fff;    
}
.bg{
    position :relative;  
    margin-bottom: 50px; 
}
.portrait{
    position: absolute;
    left :50%;
    transform: translateX(-50%)
    bottom: -10px;
    width: 192px;
	height: 191px;
	background-color: #ffffff;
	opacity: 0.8;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;   
}
.portrait .portrait-img{
    width: 165px;
	height: 166px;
	background-color: pink;
    border-radius: 50%;
    overflow:hidden;
    opacity: 1;
}
.my-bg-img{
    height : 236px;
    width: 750px;
}
.my-item-box{
    width: 750px;
    height :103px;
    border-bottom 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-item{
    font-family: PingFang-SC-Medium;
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #030303;    
}