.ticket-item {
  margion 0;
  padding 0;
  background-color: #fff;
  width 100%;
  // height 350px;
  padding-bottom: 30px;
  margin-top 30px;
  overflow auto
  position relative
}
.ticket-item-content {
  margin 0 auto;
  margin-top 32px;
  width 90%;
}

.bus-info {
  display flex;
  color: #333
  font-size 30px;
  align-items center;
  justify-content space-between;
}

.left {
  flex auto;
  text-align left;
  padding-left 36px;
  margin-right 10px;
}

.right {
  text-align left;
  flex auto;
  padding-left 36px;
  margin-left 10px;
}

.bus-location {
  background-position-y center
  flex 1;
  background-repeat no-repeat
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
}

.bus-location-left {
  background-image url("../assets/images/location.png")
  background-size 22px 26px;
}

.bus-destination-right {
  background-image url("../assets/images/destination.png")
  background-size 24px 24px
}

.middle {
  display flex;
  flex-flow: column nowrap
  width: 140px;
}

.bus-site {
  text-align center
  color: #4279E6
  font-size 24px;
  border-bottom 1px solid #666
  padding 6px;
}

.bus-number {
  text-align center
  margin-top 6px
  font-size 24px;
}

.ticket-info {
  margin-top 12px;
  padding-left 36px;
  font-size 24px
  color: #666
}

.ticket-info-column {
  display flex
  flex-flow column nowrap
}

.top-margin12 {
  margin-top 12px;
}

.seat-number {
  background-color: #eff4fc
  font-size 28px
  width 110px
  height 50px
  color #4279E6
  display inline-block
  text-align center
  line-height 50px
}

.horizontal-align {
  display flex
  align-items flex-start
}

.img-evaluated {
  background-image url("../assets/images/ticket-evaluated.png")
}
.img-evaluating {
  background-image url("../assets/images/ticket-evaluating.png")
}
.ticket-img {
  background-size 150px 112px
  background-repeat no-repeat
  width 226px;
  height 176px;
  position absolute
  bottom 0
  right 0
}
