.rate-content-container {
  display flex
  flex-direction column
}

.rate {
  display: flex
  flex-direction: row
  letter-spacing 2px
  margin-bottom 26px
}
.refund_ticket{
  float: right 
  width: 100px
  margin-right: 50px
  text-align: center 
  background: #129abc
  padding: 15px 15px
  color: #fff
  font-size: 28px
  margin-top: -100px
  position relative
  z-index:222
  border-radius: 200px
}






