.loss-detail-title{
    font-family: PingFang-SC-Medium;
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #060606;  
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.loss-img-box{
    background: #7fc6e7;
    height :350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.theme{
    position: absolute;
    left :50%;
    right :50%;
    margin-left:-154px;
    transform: translateY(-50%);
    width: 307px;
	height: 73px;
	font-family: PingFang-SC-Heavy;
	font-size: 76px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;    
}
.loss-img{
    width: 632px;
    height: 315px; 
}
.loss-tatol{
    margin-top:82px; 
    position: relative;  
}
.bg-img{
    position: absolute;
    width: 280px;
    height :194px;
    top: 140px;
    left :450px;    
}
.loss-detail-info{
    font-family: PingFang-SC-Regular;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #060606;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
}
.loss-detail-info-item{
    width: 50%;  
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 34px; 
    margin-bottom: 42px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lost-addr{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 34px; 
    margin-bottom: 42px; 
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    padding-right: 34px;
    line-height: 45px;
}
.loss-detail-desc{
    margin-top: 63px;
    box-sizing: border-box;
    padding: 0 34px;
    font-family: PingFang-SC-Regular;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #060606;    
}
.loss-desc-title{
    height :55px;
}
.loss-desc-info{
    line-height: 45px;
}
.alredy-findOrReport{
    position: fixed;
    left :50%;
    transform: translateX(-50%)
    width: 702px;
	height: 93px;
	background-color: #7fc6e7;
	box-shadow: 0px 6px 15px 1px rgba(154, 153, 153, 0.2);
	border-radius: 5px;
    margin:0 auto;
    bottom: 46px;
    font-family: PingFang-SC-Medium;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;    
}