.product-item{
    width: 750px;
    height 170px;
    margin-bottom: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 24px;
}
.item-report-number{
    width: 100px;
	height: 98px;
	background-color: #ff8463;
	border-radius: 0 0 100% 0;
    font-family: PingFang-SC-Medium;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top:25px;
}
.number-box{
    width: 100px;
    height :100%;
    margin-right: 38px;
}
.item-loss-number{
    width: 100px;
	height: 98px;
	background-color: #ffc663;
	border-radius: 0 0 100% 0;
    font-family: PingFang-SC-Medium;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top:25px;
}
.desc-test{
    width: 330px;
	height: 111px;
	font-family: SourceHanSansCN-Medium;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #030303; 
    margin-right: 178px;
    overflow: hidden;   
}
.desc-test-top{
    font-family: SourceHanSansCN-Regular;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #030303;
    line-height: 48px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desc-test-middle,
.desc-test-bottom{
    font-family: SourceHanSansCN-Regular;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #030303;
    line-height: 35px;
}
.desc-test-bottom{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.right-box{
    height :100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.look{
    width: 128px;
	height: 56px;
	background-color: #7fc6e7;
	border-radius: 28px;
   	font-family: SourceHanSansCN-Regular;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.campus-name{
    font-family: PingFang-SC-Medium;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #313030;
    padding: 38px 0 26px 0;
}